# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# Environment Variables should NEVER be published
.env

# Local private directories
.vscode
.local
seeds

# Local private files
test.rest
